/// Dark
$Dark1000: #212121;
$Dark700: #666666;
$Dark400: #9e9e9e;
$Dark200: #dcdcdc;
$Dark150: #e8e8e8;
$Dark100: #f2f2f2;

$Gray100: #eeeeee;

/// Light
$Light1000: rgba(255, 255, 255, 1);
$Light700: rgba(255, 255, 255, 0.7);
$Light400: rgba(255, 255, 255, 0.4);
$Light100: rgba(255, 255, 255, 0.1);

/// Background
$Background: #f5f5f5;

/// Primary
$Primary500: #e34354;
$Primary400: #e9536b;
$Primary50: #fce5e9;

/// Secondary
$Secondary700: #13957a;
$Secondary600: #00b590;
$Secondary500: #00b590;
$Secondary50: #dbfaf5;

/// Alternative
$AlternativeInformation: #065fd4;
$AlternativeError: #aa082d;

/// Twitter
$Twitter: #1da1f2;
